.headerContainer {
    padding: 1.25rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.headerLinks {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
}

.headerIcons {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 8px;
}
