.aboutContainer {
    max-width: 800px;
    display: flex;
}

.meImg {
    margin: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;  
    object-fit: cover; 
    display: block;
}


@media (max-width: 650px) {
.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meImg {
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;  
    object-fit: cover; 
    display: block;
}
}