.asideContainer {
    width: 30px;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homeIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: #0a3d62; 
    color: #ffffff;
    border-radius: 9999px;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1;
    cursor: pointer;
    padding: 5px;
}

.sidebarIcons {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.subAsideContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}