body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #222;
}

header {
    background: #222;
    padding: 1rem;
    color: white;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}


header a {
    colour: white;
    text-decoration: none;
    font-weight: bold;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

