body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #222;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

