.homePageContainer {
    display: flex;
    gap: 20px;
    height: 100vh;
    text-align: center;
    margin-top: 60px;
}

.homePageImage {
    width: 300px;
    height: 300px;
    border-radius: 50%;  
    object-fit: cover; 
    display: block;
}